<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons>
        <ion-button (click)="returnToHome()">
          <ion-icon class="ion-icon" name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title>Novo Item</ion-title>
        <ion-button type="submit" [disabled]="itemFormGroup.invalid" (click)="onSubmit()">
          <ion-icon class="ion-icon" name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <form [formGroup]="itemFormGroup" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input
            type="text"
            autofocus="true"
            formControlName="title"
            placeholder="Digite o nome da conta"
          ></ion-input>
        </ion-item>
        <div *ngIf="title.invalid && (title.dirty || title.touched)">
          <span class="error-message">O campo título não pode estar vazio.</span>
        </div>
        <ion-item>
          <ion-label position="floating">Valor</ion-label>
          <ion-input
            type="tel"
            maxlength="15"
            formControlName="value"
            placeholder="R$ 0,00"
            currencyMask decimal="," thousand="."
          ></ion-input>
        </ion-item>
        <div *ngIf="title.invalid && (value.dirty || value.touched)">
          <span class="error-message">O campo valor não pode estar vazio.</span>
        </div>
        <ion-item>
          <ion-label position="floating">Data de Vencimento</ion-label>
          <ion-input readonly="true" placeholder="Selecione a data de vencimento" formControlName="date"></ion-input>
          <ion-button class="ion-margin-top" fill="clear" slot="end" id="open-date-input-2">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
          <ion-popover
            trigger="open-date-input-2"
            class="popover-custom-position">
            <ng-template>
              <ion-datetime
                #popoverDateTime
                presentation="date">
              <ion-buttons slot="buttons">
                <ion-button color="primary" (click)="reset()">Limpar</ion-button>
                <ion-button color="primary" (click)="confirm()">Confirmar</ion-button>
              </ion-buttons>
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
        <div *ngIf="date.invalid && (date.dirty || date.touched)">
          <span class="error-message">O campo data vencimento não pode estar vazio.</span>
        </div>
        <ion-item>
          <ion-label position="floating">Descrição</ion-label>
          <ion-textarea formControlName="description" placeholder="Informe uma descrição"></ion-textarea>
        </ion-item>
      </form>
    </ion-list>
  </ion-content>
</ion-app>
