<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons>
        <ion-button (click)="returnToHome()">
          <ion-icon class="ion-icon" name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title>Novo Item</ion-title>
        <ion-button (click)="save()">
          <ion-icon class="ion-icon" name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input
          type="text"
          autofocus="true"
          placeholder="Digite o nome da conta"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input
          maxlength="15"
          type="tel"
          [value]="valor"
          placeholder="Digite o valor da conta"
          currencyMask decimal="," thousand="."
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Data de Vencimento</ion-label>
        <ion-input placeholder="Informe a data de vencimento" [value]="dateValue2"></ion-input>
        <ion-button class="ion-margin-top" fill="clear" slot="end" id="open-date-input-2">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-input-2" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetime2
              presentation="date"
              showDefaultButtons="true"
              (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea placeholder="Informe uma descrição para a sua conta aqui"></ion-textarea>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
